<nav class="navbar navbar-light bg-light">
  <div class="navbar-expand-lg" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="image-editor">Image Editor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="bootstrap-themes" routerLinkActive="active">Bootstrap + Themes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="player" routerLinkActive="active">Player</a>
      </li>
    </ul>
  </div>
</nav>


<router-outlet></router-outlet>
